/* ----CSS RESET------ */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Public sans', sans-serif;
    text-decoration:none;
}

/* -----VARIABLES------- */

:root{
    --light-green:#31ce73;
    --light-blue:#2cbac4;
    --black-color:#000;
    --white-color:#fff;
    --blue-black:#2d314e;
    --gray-color:#9c9b9b;
}


/* -----NAVBAR STYLING ------- */

body{
    overflow-x:hidden;
}




header{
    width:100%;
    height:100vh;

}





nav{
    height:60px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:2% 8%;
    position:sticky;
    top:0;
    z-index:100;
    background:var(--white-color);

}

nav li{
    display:inline-block;
    margin:10px 20px;
}

nav li a{
    color:var(--gray-color);
    font-size:17px;
}

.request-btn{
    padding:15px 30px;
    background:linear-gradient(to right,#31ce73,#2cbac4);
    color:var(--white-color);
    border-radius:25px;
    font-size:17px;
    font-weight:700;
}




/* -----WELCOME SECTION STYLING--------- */

    .welcome-section{
        width:100%;
        margin-top:2%;
        padding:2% 8%;
        
    }


    .welcome-section  h1{
        font-weight:300;
        font-size:65px;
        margin-bottom:20px;
    }

    .welcome-section p{
        width:450px;
        line-height:28px;
        font-size:18px;
        color:var(--gray-color);
    }

    .btn{
        display:inline-block;
        margin-top:25px;
    }

    .banner{
        width:100%;
       display:flex;
       background:#f1f1f1;
       height:100vh;
    }

    .intro-img img{
        width:81%;
        position:absolute;
        top:-24%;
        right:-20%;
        z-index:1;
    }


    .intro-img .phone{
        width:45%;
        position:absolute;
        top:8%;
        right:2%;
        z-index:1;
    }
/* ----END OF WELCOME SECTION STYLING ------- */

/*-----END OF NAVBAR SECTION------- */


/* ----- ------WHY CHOOSE STYLING------- */

section{
    padding:50px 0;
    background:#edebeb;
}


.why-choose-info{
    padding:2% 8%;
    margin-top:20px;
}

.why-choose-info h1{
    font-size:40px;
    font-weight:300;
    margin-bottom:20px;
}

.why-choose-info p{
    width:400px;
    line-height:28px;
    color:var(--gray-color)
}





/*-------- END WHY CHOOSE STYLING ------- */

